* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
    background-color: #00eaac;
}

#clock {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 0.4em;
    margin-bottom: 16px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#listsWrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 1em;
}

.eventsListWrapper, .restaurantsWrapper  {
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    padding: 0;
}

.event, .restaurant {
    background: white;
    margin: 0;
    margin-bottom: 1em;
    padding: 1em 2em;
}

.past {
    opacity: 60%;
}

.ongoing {
    background: greenyellow;
}

.error_image {
    height: 42px;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.eventName {
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70%;
}

.eventTime {
    text-align: right;
    overflow: visible;
    white-space: pre;

    font-size: 30px;
    font-weight: bold;

    float: right;
}

.location {
    max-width: 70%;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.duration {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
    font-size: 20px;

    float: right;
}

.restaurantName {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
}

.meal {
    font-size: 20px;
}

.meal:not(:last-child) {
    margin-bottom: 7px;
}

.mealName {
    display: inline-block;
    max-width: 50%;
}

.mealPrice {
    float: right;
}